* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-image: linear-gradient(
    to right bottom,
    #24273f,
    #2c2f48a7,
    #343751db
  ),
  url(./Images/annie-spratt-ctXf1GVyf9A-unsplash.jpg);
  color: #e4e4e4;
}


#home {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

#home img {
  width: 35rem;
  height: 35rem;
  object-fit: cover;
  border-radius: 1rem;
  border: solid rgb(90 92 111);
  box-shadow: 0 0 30px 8px #24273f;
}
span{
  color: rgb(31, 39, 79);
}
#home h1 {
  font-size: 8rem;
}

#about {
  background-image: linear-gradient(
      to right bottom,
      #24273f,
      #2c2f48a7,
      #343751db
    ),
    url(annie-spratt-ctXf1GVyf9A-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
 
  
}

#experience {

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
}

#contact {
  background-image: linear-gradient(
      to right bottom,
      #24273f,
      #2c2f48a7,
      #343751db
    ),
    url(annie-spratt-ctXf1GVyf9A-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 10;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 1rem;
  overflow: hidden;
  background-color: #24273fce;
}

li {
  float: right;
}

li a {
  display: block;
  color: #e4e4e4;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}

li a:hover:not(.active) {
  background-color: #24273f;
  color: white;
}

.active {
  background-color: #24273f;
  color: white;
}
hr{
  /* height: 1px; */
  background-color: #ccc;
  width: 70rem;
}
#about .head{
 
}

.head{
  font-size: 3rem;
}


#about .head H1{
 margin-bottom: 67rem;
 }

 .head3{
  margin: 4rem;
  text-align: justify; background-color: rgba(165, 42, 42, 0);
  height: 60rem;
  width: 70rem;
 padding: 1rem;
 border: solid rgb(255, 255, 255);

 }

 .fifi{
  width: 20rem;
  height: 25rem;
  object-fit: cover;
align-items: center;
  border: solid rgb(255, 255, 255);
margin-bottom: 4rem;
 }
 
 .container{
  margin: 4rem;
  text-align: justify; background-color: rgba(165, 42, 42, 0);
  height: 40rem;
  width: 70rem;
 padding: 1rem;
 border: solid rgb(255, 255, 255);

}

 input{
  width: 60rem;
  height: 3rem;
  background-color: #24273f00;
  border: solid rgb(255, 255, 255);
 }

textarea{
  width: 60rem;
  height: 10rem;
  background-color: #24273f00;
  border: solid rgb(255, 255, 255);
}
 
.form{
  text-align: center;
  font-size: 2rem;
  
}

button{
  
}

.starfish {
margin-top: 20px

}

.womenL {
  margin-top: 20px;
}

.NorthM {
  margin-top: 20px;
}